# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose.yml
.dockerignore

# Node
node_modules
.next
npm-debug.log*
pnpm-lock.yaml

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database
chroma_db/
*.sqlite3

# IDE / Editor specific
.vscode/
.idea/ 